.clientes-section {
    background-color: var(--text-light);
    position: relative;
    padding: 50px 15px;
}

/* Estilo para el texto */
.clientes-section h2 {
    color: var(--accent-navy); /* Azul oscuro */
    font-size: 1.8rem;
}

/* Estilo para los logos */
.client-logo {
    transition: transform 0.3s ease;
}

.client-logo:hover {
    transform: scale(1.1);
}
