body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; /* Usar el peso bold */
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Usar el peso regular */
}

span {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Usar el peso regular */
}

.italic {
    font-family: 'Lato', sans-serif;
    font-weight: 700; /* Bold Italic */
    font-style: italic;
}

.bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900 !important; /* Bold */
}
