
/*
 var(--img-background-home)
 var(--img-overlay-home)

*/
.hero-home {
    position: relative;
    width: 100%; /* Asegura que el fondo ocupe todo el ancho */
    height: 100vh; /* Ocupa la altura completa de la pantalla */
    background: var(--img-hero-home) no-repeat center center;
    background-size: cover; /* El fondo cubre toda la sección */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-home .container {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del fondo */
}






.hero-quienesSomos {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Quita la background de aquí */
    overflow: hidden;
    background: var(--img-hero-quienesSomos) no-repeat center center;
    background-size: cover;
}

.hero-servicios {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Quita la background de aquí */
    overflow: hidden;
    background: var(--img-hero-servicios) no-repeat center center;
    background-size: cover;
}

.hero-metodologia-01,
.hero-metodologia-02,
.hero-metodologia-03,
.hero-metodologia-04 {
    position: relative;
    width: 100%; /* El fondo abarca todo el ancho de la pantalla */
   
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-size: cover; /* Ajusta la imagen al fondo */
    background-position: center; /* Centra la imagen */
}



.hero-metodologia-01 {
    background: var(--img-hero-metodologia-01) no-repeat center center;
    height: 100vh;
    padding: 60px 0; /* Ajusta la altura con padding (opcional) */
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
}

.hero-metodologia-02 {
  
    background: var(--img-hero-metodologia-02) no-repeat center center;
    height: 250px;
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
}

.hero-metodologia-03 {
    background: var(--img-hero-metodologia-03) no-repeat center center;
    height: 250px;
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
}

.hero-metodologia-04 {
    background: var(--img-hero-metodologia-04) no-repeat center center;
    height: 250px;
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto esté centrado */
}
