:root {
    /* Variables para imágenes */
    --img-logo-navbar: url('../assets/img/logo/logoNavbar.png');
    --img-logo-completo-blanco: url('../assets/img/logo/logoCompleto_blanco.png');
    --img-logo-completo-blanco-horizontal: url('../assets/img/logo/logoCompleto_blanco_horizontal.png');
    --img-logo-completo-blanco-horizontal-02: url('../assets/img/logo/logoCompleto_blanco_horizontal_02.png');
    --img-logo-completo: url('../assets/img/logo/logoCompleto.png');
    --img-background-home: url('../assets/img/home/fondoRojoHome.png');
    --img-overlay-home: url('../assets/img/home/sobrepuestoHome.png');
    --img-hero-home: url('../assets/img/home/heroSectionHome.png');
    --img-hero-quienesSomos: url('../assets/img/quienesSomos/hero_banner.png');
    --img-hero-servicios: url('../assets/img/servicios/hero_banner.png');
    --img-hero-metodologia-01: url('../assets/img/metodologia/banner.png');
    --img-hero-metodologia-02: url('../assets/img/metodologia/examinadores.png');
    --img-hero-metodologia-03: url('../assets/img/metodologia/vanguardia_tecnologica.png');
    --img-hero-metodologia-04: url('../assets/img/metodologia/entrega_resultados.png');
}
