.testimonial-card {
    border-radius: 15px;
    background: var(--surface);
    padding: 20px;
    max-width: 500px;
    border: none;
    position: relative;
    overflow: visible;
}

/* Pseudo-elemento para la punta */
.testimonial-card::after {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 0px;
    width: 106px;
    height: 129px;
    background: var(--surface);
    clip-path: polygon(0 100%, 57% 76%, 0 0);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Texto del testimonial */
.testimonial-text {
    font-size: 1.1rem;
    color: var(--text-body);
    margin-bottom: 30px;
}

/* Icono de comillas */
.testimonial-quote {
    position: absolute;
    bottom: -58px;
    right: 13px;
    font-size: 4rem;
    color: var(--border-contrast);
}

/* Contenedor del logo */
.testimonial-logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* Estilo del logo */
.testimonial-logo-img {
    width: 40px;
    height: auto;
}

.testimonial-section {
    position: relative;
    background-color: var(--surface-soft);
    padding: 50px 15px;
    overflow: hidden;
}

/* Pseudo-elemento para la mitad vertical del rombo */
.testimonial-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: -25%;
    width: 50%;
    height: 100%;
    background: var(--primary-color);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: 1;
}

/* Asegurar que los elementos principales queden encima del rombo */
.testimonial-section .row {
    position: relative;
    z-index: 2;
}

/* Ocultar el ::after en pantallas pequeñas */
@media (max-width: 768px) {
    .testimonial-section::after {
        display: none;
    }
}
