/* Ícono fijo de WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 100px;
    background-color: var(--whatsapp-color);
    color: var(--text-light);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-icon {
    font-size: 28px;
}

@media (max-width: 768px) {
    .whatsapp-float {
        right: 25px;
    }
}
